<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assingnment 2</title>
   <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
    



<h1 class="tag">My Blog</h1>
<hr>

<nav class="head">
    <ul>
       <a href="MainMenu.html" > <li> MAIN MENU</li></a> 
        <a href="Myprofile.html"><li> MY PROFILE</li></a>
        <a href="Traveladvise.html"><li>TRAVEL ADVISE</li></a>
        <a href="Shopping.html"><li> SHOPPING</li></a> 
       <a href="assingnment.html"> <li>  SEARCH</li></a> 
    </ul>
</nav>






    

 
<hr>
<div class="lista">
<div class="list">
<h4 >This is My List to do For a Travel</h4>
<ul class="list_">
        <li>Where to go</li>
    <li>How to go</li>
    <li>What is your priority</li>
    <li>The list what to do</li>
    <li>My review</li>
</ul>
</div>

<div class="list2">
<h4>This is My List Where I Have Been</h4>
<ol class="list2_"> 
    <li>USA</li>
    <li>Fance</li>
    <li>Belgium</li>
    <li>Germany</li>
</ol>
</div>
</div>
<br>
<hr>
<br>



<div>
    <% if(mascots.length>0) { %>

        <% mascots.forEach((mascost) => {  %>
             <h3><%= mascost.name %> organization name <%= mascost.organization %> and date <%= mascost.birth_year %></h3>
             
             
             <% })%>
        
        
  <%  }%> 


</div>

<div>
    <ul>
        <li> Name:<%= dataPool[0].name%> -  email:<%= dataPool[0].email%> -  company:<%= dataPool[0].company.name%></li>
    </ul>
</div>

<h4>This is List of My Travelmate</h4>

<table class="mate">
<thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
</thead>
 
<tbody>
    <tr>
        <td>John Travolta</td>
        <td>John@blabla.com</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Junior John Travolta</td>
        <td>JJJohn@blabla.com</td>
        <td>25</td>
    </tr>
    <tr>
        <td> Big John Travolta</td>
        <td>BJohn@blabla.com</td>
        <td>45</td>
    </tr>
    <tr>
        <td> Heskey Travolta</td>
        <td>Heskey@blabla.com</td>
        <td>23</td>
    </tr>
</tbody>
</table>
<br>
<hr>
<br>

<div class="form">
<h4 >If You Want ot Join Our Travel <br>Please Fill in the Form </h4>
<form action="process.php" method="GET">
    <div class="childform">
<div>
    <label for="">First name</label>
    <input type="text" name="first-name" placeholder="enter your name" required>
</div>
<br>
<div>
    <label for="">Last name</label>
    <input type="text" name="Last-name" placeholder="Last Name" required>
</div>
<br>
<div>
    <label for="">Email</label>
    <input type="email" name="email" placeholder="example@blabla.com" required>
</div>
<br>
<div class="message">
    <label for="" >Message</label>
    <textarea  class="message1" name="message" id="message" cols="30" rows="10" placeholder="write something"></textarea>
</div>
</div>
<br>
<div>
    <label for="">Gender</label>
    <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
</div>

<div>
    <label for="">Age</label>
    <input type="number" name="age" value="">
</div>
<br>
<div>
    <label for="">Birthday</label>
    <input type="date" name="birthday" id="birthday">
</div>
<h4>What is Your Travel Aim?</h4>
<div class="aim">
        <ul>
        <li><label for="">Meet new people</label>
            <input type="checkbox" name="checkbox" id="aim">
        </li>

        <li><label for="">Discover new place</label>
            <input type="checkbox" name="checkbox" id="aim">
        </li>

        <li><label for="">I have a lot of time to spend</label>
            <input type="checkbox" name="checkbox" id="aim">
        </li>
        </ul>
</div>
<h4>Which Place Do You most want to visit?</h4>
<div class="visit">
        <ul>
        <li>
            <label for="">USA</label>
            <input type="radio" name="visitplace" id="place">
        </li>
        <li>
            <label for="">France</label>
            <input type="radio" name="visitplace" id="place">
        </li>
        <li>
            <label for="">Japan</label>
            <input type="radio" name="visitplace" id="place">
        </li>
        <li>
            <label for="">Norwey</label>
            <input type="radio" name="visitplace" id="place">
        </li>
    </ul>
</div>

</div>
<br>
<div>
    <input type="submit" name="submit" value="submit">
</div>
</form>
    
<br>
<hr>
<br>



    

<footer class="about">About Us</footer>

</body>
<br>
</html>








