<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= title%> </title>
</head>
<body>



    

<h1>this is home Page</h1>
<h1>sl;dfkjgdsg
    
</h1>

<div>
    <% if(mascots.length>0) { %>

        <% mascots.forEach((mascost) => {  %>
             <h3><%= mascost.name %> organization name <%= mascost.organization %> and date <%= mascost.birth_year %></h3>
             
             
             <% })%>
        
        
  <%  }%> 
 

</div>

    <h1>merhaba,alskdfjalsdf</h1>

<a href="about.html">about us</a>
<a href="/">Home page</a>

<% const name2='john' %>

<p><%= name2 %></p>
<h2>this is home page</h2>
    

    <a href="/">Home Page</a>
<a href="/about">About</a>



<%- include('./partials/footer.ejs') %>

</body>
</html>