

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

       

    <%- include('./partials/nav.ejs') -%>
        



    <!-- <%  for(let i=0;i<Comment.length;i++) { %>

            <ul>
                <h2><%= Comment[i].userName %></h2>
           <li>  <%= Comment[i].name %> </li>
        </ul>


        <%    }%> -->


    
    <% Comment.forEach(function (practice) { %>
        <div id="border">
        
            <div id="commentBorder">
                     <h2 id="userName"> <b>Title:</b> <%= practice.userName %></h2>
                  <h4  id="name">  <b>Comment:</b> <%= practice.name.slice(0,85) %>...... </h4>
             </div>
             <a href="/fullarticle/<%= practice._id %>">see more...</a>
</div>
    <% }) %> 


</body>

<script>
    
</script>
</html>

    