

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Page</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

        <%- include('./partials/nav.ejs') -%>
  

<form action="/sendComment" method="post">
        <h2>Post a message</h2>
        <div>
            <h3>User Name</h3>
        <input type="text" name="userName" id="userName" style="margin-bottom:15px ;">
    </div>
        <textarea type="text" name='name' rows=9 minlength=25
              placeholder="write comment"  style="width: 20%;"    ></textarea>
        
        <button type="submit"  >Post a message</button>
    
    </form>


    <!-- <%  for(let i=0;i<Comment.length;i++) { %>

            <ul>
                <h2><%= Comment[i].userName %></h2>
           <li>  <%= Comment[i].name %> </li>
        </ul>


        <%    }%> -->


    
    <% Comment.forEach(function (practice) { %>
        <ul>
            <h2><%= practice.userName %></h2>
       <li>  <%= practice.name %> </li>
    </ul>
    <% }) %>


</body>

<script>
    
</script>
</html>

    