<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/nav.ejs') -%>
    
    <%if (user){ %>
          <h1>welkom to your world :<i> <%=  user%></i></h1>
    <%} %>

   











<form action="/sendPost/<%=usId%>/<%= user%>" method="post">
    <h2>Post a message</h2>
    <div>

       

        <h3>Title</h3>
    <input type="text" name="title" id="title"  style="margin-bottom:15px ;">
          
</div>
    <textarea type="text" name='post' rows=9 
          placeholder="write comment"  style="width: 20%;"    ></textarea>
          
    <br>
    <button type="submit"  >Post </button>

</form>














<% if (post) {%>
 
    
       
            
                <% post.forEach(postObj => { %>
                    <div id="border">
                        <div id="PostBorder">
                 <h2 id="title"> <b>Title:</b><%=postObj.title %> </h2>
            <a  <h4  id="name">  <b></b><%=postObj.post %>  </h4></a>
            <br>

                          <p>created by  <b> <i><%=postObj.userName %></i> </b> </p>
            
                        
                        
      <% if(postObj.userId == usId) { %>
        <form action="editPost" method="get">
            <button type="submit">Edit</button>
        </form>
        
        <form action="deletePost" method="post">
            <button type="submit">delete Post</button>
        </form>
          
                            
                        <% } %>



              <br>
             <a  id="makeComment" href="/makeComment"> make comment</a>
             <a href="/fullarticle/<%= postObj._id %>">see more...</a>
            </div>
        </div>
        <% })}%>
</div>






</body>
</html>